
.menu {
    color: #4863A0;
    background-color: light gray;
    padding: 9px;
    width: 150px;
	height: 150px;
    border: 2px solid black;
	border-radius: 5px;
    text-align: center;
	float: left;
    outline: none;
	overflow: hidden;
}

h2 {
	text-align: center;
}

ul {
	list-style: none;
}

.centertext {
	text-align: center;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.totheleft {
	float: left;
	width: 50%;
}